<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
logout, login
    {% if user.is_authenticated %}
        <h3>{{ user.get_username }} user projects</h3>
    {% else %}
        <h3>Please log in to see the data.</h3>
    {% endif %}

    <table style="width:50%">
      {% for project in projects %}
      <tr>
             <td>
                 <a href="{% url 'contacts:contacts' project.pk %}">
                    # {{ project.pk }}
                 </a>
             </td>
             <td>{{ project.name }}</td>
      </tr>

      {% endfor %}

</body>
</html>